/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

/* NAVBAR */
.navbar {
    width: 100%;
    padding: 18px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
}

.logo {
    height: 55px;
}

.navbar nav a {
    margin-left: 25px;
    text-decoration: none;
    color: #222;
    font-weight: 500;
}

/* HERO */
.hero {
    position: relative;
    width: 100%;
}

.hero-img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    border-radius: 0;
}

.hero-text {
    position: absolute;
    bottom: 15%;
    left: 6%;
    color: white;
}

.hero-text h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero-text button {
    margin-top: 10px;
    padding: 10px 25px;
    background: #ff7b00;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
}

/* DESTINATIONS */
.destinations {
    padding: 60px 50px;
    text-align: center;
}

.dest-grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;}

